body {
  margin: 0;
  background: linear-gradient(to right, #200122, #6f0000);
  color: white;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigation-sec {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: khaki;
}

.hamburger {
  display: none;
  padding: 20px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .nav-container {
    display: none;
  }
}

.logo-image a {
  height: auto;
  text-decoration: none;
}

.logo-image img {
  width: 250px;
  height: auto;
}

.nav-item a {
  text-decoration: none;
  color: #200122;
  font-size: 18px;
  font-weight: bold;
}

.nav-container li {
  display: inline;
  margin: 4vw;
}

.nav-container > li:hover {
  border-bottom: 2px solid #5787ff;
}
.nav-item > a:hover {
  color: #5787ff;
}

.title {
  text-align: center;
  color: white;
}

/* -----------------employee-cards-------------- */
.employee-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: auto;
  column-gap: 60px;
  row-gap: 20px;
  width: 90%;
  margin: 50px auto;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  /* background: linear-gradient(to right, #333333, #dd1818); */
  background-color: black;
  color: white;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  transition: all 0.4s ease-out;
}
.card:hover {
  transform: scale(1.1);
}

.content-setion {
  text-align: center;
  padding: 5px;
  margin: auto;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 100%;

  /* border-radius: 20px; */
}

/* -----------------footer--------------------------- */

.footer {
  height: 200px;
  bottom: 0px;
  background-color: khaki;
  color: #200122;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact {
  /* border: 1px solid black; */
}
.contact li a {
  text-decoration: none;
  color: #f8f8f8;
}
.contact li {
  display: inline-block;
  padding: 10px;
}
i {
  color: #200122;
}
.footer-bottom {
  width: 100%;
  text-align: center;
  font-size: 20px;
}
